# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3

# Environment
.env

# Django static/media optional
staticfiles/
media/

# Node
node_modules/
npm-debug.log*

# Frontend build
dist/
build/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db